{% extends "layout.html" %}

{% block body %}
<h3>Control Panel</h3>
<small>Welcome, {{session["username"]}}</small>
<hr>
<a href ="/addarticle" class ="btn btn-danger">Add Article</a>

{% if articles %}
<br> <br> <br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Article's id</th>
        <th scope="col">Titles</th>
        <th scope="col">Authors</th>
        <th scope="col">Dates</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
      <tr>
        <th scope="row">{{article.id}}</th>
        <td><a href="/article/{{article.id}}">{{article.title}}</a></td>
        <td>{{article.author}}</td>
        <td>{{article.created_date}}</td>
        <td><a href="/edit/{{article.id}}" class ="btn btn-success">Update</a></td>
        <td><a href="/delete/{{article.id}}" class ="btn btn-danger">Delete</a></td>
      </tr>

      {% endfor %}

    </tbody>
  </table>

{% else %}
<div class= "alert alert-danger">You have not any article yet.</div>

{% endif %}


{% endblock body %}
